.subreddit-info {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 42px;
}

.subreddit-name {
    font-size: 42px;
}

.subreddit-banner-image {
   width: 80%;
    max-width: 800px;
}

.subreddit-title {
    font-size: 36px;
}

.subreddit-description {
    font-size: 21px;
    width: 80%;
    max-width: 800px;
}

.subreddit-subs {
    font-size: 18px;
    color: dimgrey;
}

.subredditinfo-back {
    margin: 15px;
}